* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: rgb(189, 54, 54);
}

/* Boxes for each page */
.mainbox {
  width: 1200px;
  height: 1300px;
  background-color: white;
  border: 3px solid black;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.mainbox2 {
  width: 1200px;
  height: 2850px;
  background-color: white;
  border: 3px solid black;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.mainbox3 {
  width: 1200px;
  background-color: white;
  border: 3px solid black;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

/* Header styles */
h1 {
  text-align: center;
}

.title {
  font-size: 90px;
}

h2 {
  font-size: 30px;
}

h4 {
  text-align: center;
}

/* Navigation box*/
.navbox {
  width: 1196px;
  height: 80px;
  background-color: lightgray;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  text-align: center;
  font-size: 20px;
  margin: auto;
  padding-top: 25px;
}

/* Link styles */
a {
  color: blue;
}

a:visited {
  color: blue;
}

/* Home page styles */
.imagebox {
  width: 1196px;
  height: 400px;
  color: white;
  background-color: lightgray;
  position: relative;
  text-align: center;
}

.hometitle {
  font-size: 110px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-text-stroke: 3px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homebox {
  width: 800px;
  height: 600px;
  background-color: white;
  padding: 20px;
  float: left;
}

.cafeinfo {
  font-size: 20px;
}

.subtitle {
  color: red;
  font-size: 30px;
}

.review {
  color: red;
  font-size: 30px;
  text-align: center;
}

.center {
  text-align: center;
  font-size: 20px;
}

.italic {
  font-style: italic;
}

.imagebox2 {
  width: 300px;
  height: 500px;
  background-color: lightgray;
  margin-top: 50px;
  margin-left: 50px;
  float: left;
}

.homebox2{
  width: 800px;
  height: 200px;
  background-color: white;
  margin-left: 200px;
  float: left;
}

/* Button styles */
.orderButton {
  width: 150px;
  height: 100px;
  color: white;
  background-color: rgb(22, 136, 193);
  position: absolute;
  top: 365%;
  left: 43%;
  font-size: 18px;
  border-radius: 16px;
  cursor: pointer;
}

.orderButton:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.clearButton {
  width: 100px;
  height: 75px;
  background-color: white;
  margin: auto;
  margin-bottom: 50px;
}

#deleteData {
  width: 100px;
  height: 75px;
  color: white;
  background-color: rgb(22, 136, 193);
  position: absolute;
  font-size: 18px;
  border-radius: 16px;
  cursor: pointer;
}

#deleteData:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.orderButton2 {
  width: 100px;
  height: 75px;
  color: white;
  background-color: rgb(22, 136, 193);
  position: absolute;
  font-size: 18px;
  border-radius: 16px;
  cursor: pointer;
}

.orderButton2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

/* Menu page styles */
.orderButtonBox {
  width: 100px;
  height: 75px;
  background-color: white;
  margin: auto;
  margin-bottom: 30px;
}

.description {
  padding: 5px;
}

.menubox {
  width: 1100px;
  height: 400px;
  background-color: white;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  position: relative;
}

.menubox2 {
  width: 1100px;
  height: 400px;
  background-color: white;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
  position: relative;
}

.itembox1 {
  width: 200px;
  height: 300px;
  background-color: white;
  border: 2px solid red;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  float: left;
}

.itembox2 {
  width: 200px;
  height: 300px;
  background-color: white;
  border: 2px solid red;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  float: left;
}

.orderbox {
  width: 1195px;
  height: 325px;
  background-color: white;
  border-top: 3px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  padding-left: 100px;
}

.dropdown {
  width: 200px;
  height: 300px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  background-color: white;
  float: left;
}

.select-box {
  display: flex;
  flex-direction: column;
  width: 175px;
  position: absolute;
}

.selected {
  position: relative;
  width: 100%;
  border-radius: 8px;
  border: 3px solid black;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

.selected::placeholder {
  color: black;
  font-weight: 100;
  font-size: 20px;
  padding-left: 10px;
}

.main-input {
  position: relative;
}

.main-container {
  background-color: lightgrey;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 8px;
  overflow: hidden;
  max-height: 0;
}

.main-container.active {
  max-height: 240px;
  border: 1px solid black;
  opacity: 1;
}

.main-option {
  padding: 3px 5px;
  cursor: pointer;
}

.main-option:hover {
  background-color: darkgray;
}

.sideSelected {
  position: relative;
  width: 100%;
  border-radius: 8px;
  border: 3px solid black;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

.sideSelected::placeholder {
  color: black;
  font-weight: 100;
  font-size: 20px;
  padding-left: 10px;
}

.side-input {
  position: relative;
}

.side-container {
  background-color: lightgrey;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 8px;
  overflow: hidden;
  max-height: 0;
}

.side-container.active {
  max-height: 240px;
  border: 1px solid black;
  opacity: 1;
}

.side-option {
  padding: 3px 5px;
  cursor: pointer;
}

.side-option:hover {
  background-color: darkgray;
}

.drinkSelected {
  position: relative;
  width: 100%;
  border-radius: 8px;
  border: 3px solid black;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

.drinkSelected::placeholder {
  color: black;
  font-weight: 100;
  font-size: 20px;
  padding-left: 10px;
}

.drink-input {
  position: relative;
}

.drink-container {
  background-color: lightgrey;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 8px;
  overflow: hidden;
  max-height: 0;
}

.drink-container.active {
  max-height: 240px;
  border: 1px solid black;
  opacity: 1;
}

.drink-option {
  padding: 3px 5px;
  cursor: pointer;
}

.drink-option:hover {
  background-color: darkgray;
}

/* Order Online page styles */
.table-box {
  width: 1100px;
  background-color: white;
  padding-top: 10px;
  margin: auto;
  margin-bottom: 10px;
}

table {
  margin: auto;
  margin-top: 20px;
  border-collapse: collapse;
}

th {
  width: 300px;
  font-size: 30px;
  border-bottom: 2px solid black;
  padding-left: 5px;
}

td {
  border-bottom: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.details-box {
  width: 1000px;
  height: 10  0px;
  background-color: white;
  font-size: 30px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.info-bar {
  width: 100%;
  height: 25px;
  border: 1px solid black;
  padding-left: 10px;
}